{% extends 'base.html.twig' %}

{% block title %}Gedmo - Translatable
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<table class="table">
					<legend>Categories</legend>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">
							<a href="{{ path('gedmo_translatable_category_new') }}" class="btn btn-primary" type="button">
								<i class="fas fa-plus"></i>
							</a>
						</th>
					</tr>
					{% for category in categories %}
						<tr>
							<th scope="row">{{ category.id }}</th>
							<td>{{ category.title }}</td>
							<td>
								<div class="btn-group" role="group" aria-label="Action buttons">
									<a href="{{ path('gedmo_translatable_category_edit', {id: category.id}) }}" class="btn btn-primary" type="button">
										<i class="fas fa-edit"></i>
									</a>
									<a href="{{ path('gedmo_translatable_category_remove', {id: category.id}) }}" class="btn btn-danger" type="button">
										<i class="fas fa-trash"></i>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}
